.idea
.vscode

mariadb-data
elastic-data

.env
lerna-debug.log
yarn-error.log
/packages/*/build
/packages/*/dist
/packages/*/node_modules
node_modules
dist
tmp
coverage

# Next.js
.next
